@font-face {
    font-family: 'WorkSans-Regular';
    src: url('fonts/WorkSans-Regular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'WorkSans-Medium';
    src: url('fonts/WorkSans-Medium.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'PTSans-Regular';
    src: url('fonts/PTSans-Regular.woff') format('woff');
    font-display: swap;
    
}
@font-face {
    font-family: 'WorkSans-Light';
    src: url('fonts/WorkSans-Light.woff') format('woff');
    font-display: swap;
}