html{
    font-size: 100%;
}

body{
    font-family: 'WorkSans-Regular', sans-serif;
    background-color: $background;
    padding-top: 5vh;
    height: 100vh;
}
input{
    background-color: transparent;
}
a{
    font-size: 0.92em;
    font-family: 'WorkSans-Medium', sans-serif;
    color: $blue;
}

.container{
    display: flex;
    max-width: 41.56em;
    min-width: 21.66em;
    min-height: 30em;
    margin: 0 auto;
    background-color: $white;
}

.wrapper{
    position: relative;
    min-width: 100%;
    display: flex;
    min-height: 100%;
    z-index: 1;
}


