.popup{
    display: none;
    min-width: 100%;
    min-height: 100%;
}

.popup__header{
    display: flex;
    justify-content: end;
    font-size: 3.06em;
    font-family: 'PTSans-Regular', sans-serif;
    width: 3.58em;
    padding-bottom: 0.44em;
    background-color: $blue;
    color: $white;
    & > div{
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }
}

.popup-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: 0.875em;
    padding: 2.4em 1.31em 2.03em;
    background-color: $white;
}

.popup-main__container{
    padding-left: 3.07em;
    padding-top: 12.71em;
}

.popup-main__header{
    font-family: "WorkSans-Medium", sans-serif;
    font-size: 1.57em;
    line-height: 1.18em;
}

.popup-main__text{
    margin-top: 0.78em;
    line-height: 1.14em;
    font-family: 'WorkSans-Light', sans-serif;
}

.popup-main__link{
    font-size: 0.92em;
    font-family: 'WorkSans-Light', sans-serif;
    line-height: 1.07;
    opacity: 1;
    margin-bottom: 0.7em;
}
.show{
    display: flex;
}

.hide{
    display: none;
}
