//All SCSS modules put here
@import 'normalize/normalize.scss';
@import 'style/fonts.scss';
@import 'style/var.scss';
@import 'style/general.scss';
@import 'style/header.scss';
@import 'style/main.scss';
@import 'style/form.scss';
@import 'style/item.scss';
@import 'style/select.scss';
@import 'style/options.scss';
@import 'style/popup.scss';
@import 'style/error.scss';
@import 'style/animations.scss';
@import 'style/media.scss';
