$color-bg-main: #F4F5FC;
$color-main: #5A61ED;
$color-text-primary: #111;
$color-text-additionary: #fff;
$color-text-label: #9e9e9e;
$color-bg-form: #fff;
$color-error: #ff0000;

$laptop-width: 992px;
$tablet-width: 768px;
$tablet-small-width: 600px;
$mobile-width: 480px;