@media only screen and (max-width: 600px) {
  body {
    justify-content: flex-start;
  }

  .container {
    flex-direction: column;
    align-items: stretch;
    width: clamp(100%, 100%, 100%);
    height: min(100vh, 100vh);
  }

  .title {
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 100px;
  }

  .title>div {
    top: 0;
    left: 20px;
    transform: rotate(0);
  }

  .date-picker,
  .gender-group {
    margin-top: 10px;
  }

  .current-month {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .title {
    min-height: 70px;
  }

  .title>div {
    font-size: calc(var(--title-text-size) * 0.7);
  }

  .form-container {
    padding-top: 22px;
    padding-bottom: 48px;
  }

  .row {
    flex-direction: column;
  }

  .col:nth-child(2) {
    margin-top: 16px;
    margin-left: 0;
  }

  .gender-group {
    margin-top: 10px;
  }

  .select-current {
    margin-top: 10px;
    margin-left: 0;
  }

  .date-picker {
    justify-content: flex-start;
  }

  .current-month {
    margin-left: 10px;
    margin-right: 10px;
  }

  .buttons {
    margin-top: 36px;
  }
}